body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    height: 40vh;
    width: 30vw;
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: yellowgreen;
    transform: scale(1.05);
    transform:rotate(-5deg)
}
.mystery-box {
    height: 140px;
    width: 140px;
    background-color: rgb(247, 247, 63);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined{
    font-size: 4rem;
    line-height: 100px;
}

.emoji-display{
    position: absolute;
    font-size: 5rem;
}

.emoji-array{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60vw;
    max-height: 20vh;
    overflow-y: auto;
}

.emoji-array:hover {
    cursor: pointer;
}